/* You can add global styles to this file, and also import other style files */
.images-container-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);

}

.custom-file-input::file-selector-button {
    content: 'Browse';
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.custom-file-input::file-selector-button:hover {
    background-color: #0056b3;
}
